<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="carcassonne" class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Carcassonne</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
		<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
		<link rel="stylesheet" href="styles/tile.css">
		<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
		<script src="scripts/javascript.js"></script>
	</head>
	<body ng-app='carcassonne'>
		<div ng-view></div>

		<div>
			Welcome to Carcassonne<span app-version></span>
		</div>

		<div ng-controller="GameController">
            <div>Player {{activePlayer.id}}'s turn</div>
			<button ng-click="nextTile.rotate()">
				Rotate
			</button>
			<div>
				<b>Next Tile:</b>
				<img class={{nextTile.rotationStyle}} ng-src={{nextTile.imgPath}} />
				<div id="containerBox" ng-click="" style="position:relative; overflow:hidden; margin-left:100px; width: 1000px; height:500px; border:solid; border-width:1px">
				
				<div id="draggableElement" style="width:2000px;height:2000px;position:absolute;top:0px;left:0px;">
					<table>
					<tbody>
						<tr ng-repeat="row in tileCells">
							<td ng-repeat="tile in tileCells[$index]">
								<div ng-class="tile.classValue" ng-click="placeTile(tile, $parent.$index, $index)" style="width:90px; height:90px; border:solid; " >
									<img class={{tile.rotationStyle}} ng-src="{{tile.imgPath}}" />
							
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				
				<script type="text/javascript">
				  var el = document.getElementById('draggableElement');
				  var parent = el.parentNode;
				  var leftEdge = parent.clientWidth - el.clientWidth;
				  var topEdge = parent.clientHeight - el.clientHeight;
				  var dragObj = new dragObject(el, null, 
				      new Position(leftEdge, topEdge), new Position(0, 0));
				</script>
				
				</div>
			</div>
		</div>
		<!-- In production use:
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
		-->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="models/board.js"></script>
        <script src="models/player.js"></script>
        <script src="models/tile.js"></script>
		<!--script src="controllers/board-controller.js"></script-->
		<script src="controllers/game-controller.js"></script>
		<script src="components/version/version.js"></script>
		<script src="components/version/version-directive.js"></script>
		<script src="components/version/interpolate-filter.js"></script>
	</body>
</html>
